/* ==UserStyle==
@name           UTS Public Site Improvements
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    For, um, improvements to the UTS public website
@author         Andrew Macpherson
==/UserStyle== */

@-moz-document domain("www.uts.edu.au"), domain("staging.uts.edu.au"), domain("dev.uts.edu.au") {
	
    /* Improve collapsibles */
	
	.collapsible__title::after {
		width:1rem;
		height: 1em;
		top: 1.5em;
	}

	.collapsible__content {
		padding:0 0 0 3rem;
	}

	
	
}