/* WORKAROUND DISPLAY BUGS */

div#toolbar-item-administration-tray {
    position: fixed;
}

/* CHECK HEADING HIERARCHY */

h2, h3, h4, p {
	position: relative;
}

h2::before,
h3::before,
h4::before {
	content: "<??>";
	display: block;
	position: absolute;
	font-size: 1rem;
    font-weight: bold;
	width: 3rem;
	left: -4em;
	padding: 0 3px;
	background-color: black;
	color: white;
	text-align: center;
    text-transform: none;
}

h2::before {
	content: "<h2>";
	background-color: red;
}

h3::before {
	content: "<h3>";
	background-color: blue;
}

/* CHECK EMPTY TAGS */

:empty {
    background-color: yellow;
}

/* TAGS */

br {
    content: '\a';
    display: block;
    width: 0;
    background-color: transparent !important;
    color: black;
    height: 1em;
    line-height: inherit;
    margin-top: -1em;
    overflow: visible;
}

br::after {
	content: "<br>";
	display: inline-block;
	position: relative;
	font-size: 1rem;
    font-weight: normal;
	width: 3rem;
	left: -4em;
    top: 1em;
	padding: 0 3px;
    border: 1px solid hsl(0,0%,90%);
	background-color: hsl(0,0%,100%);
	color: hsl(0,0%,75%);
	text-align: center;
    text-transform: none;
}

