/* ==UserStyle==
@name           UTS Drupal Admin
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    Customises the Drupal admin interface
@author         Andrew Macpherson
==/UserStyle== */

@-moz-document	domain("www.uts.edu.au"),
				domain("staging.uts.edu.au"),
				domain("dev.uts.edu.au") 
{
	
	.paragraph-type-title,
	.paragraph-type-top {
		color: white;
		background-color: black;
		padding: 0.5em;
		font-weight: bold;
		text-transform: uppercase;
	}

	#block-uts-theme-tabs {
		margin: auto;
		z-index: -1;
	}
	
	.test { color: blue }

}

